<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/sign-up">Register</a></li>
        <li><a href="/users/log-in">Log in</a></li>
        <li><a href="">Create a Post</a></li>
    </ul>
</div>